<!-- start footer -->
<footer class="full-width main_footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="foot_1">
					<div><img src="images/footer_logo.png"></div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
					<ul>
						<li><a href="#">terms of use</a>|</li>
						<li><a href="#">privacy</a>|</li>
						<li><a href="#">sitemap</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-2">
				<div class="foot_2">
					<h3>Links</h3>
					<ul>
						<li><a href="#">About</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="#">Process</a></li>
						<li><a href="#">Portfolio</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-3">
				<div class="foot_2">
					<h3>Our Services</h3>
					<ul>
						<li><a href="#">Renovation Consultant</a></li>
						<li><a href="#">Architectural Planning</a></li>
						<li><a href="#">Home Renovation</a></li>
						<li><a href="#">Home Addition</a></li>
						<li><a href="#">Custom Home</a></li>
						<li><a href="#">Commercial Construction</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-3">
				<div class="foot_3">
					<h3>Get in touch</h3>
					<ul>
						<li><i class="fa fa-phone" aria-hidden="true"></i> <a href="#">(416)000-000</a></li>
						<li><i class="fa fa-envelope" aria-hidden="true"></i><a href="#">info@oceanwidehomes.com</a></li>
					</ul>
				</div>
				<div class="foot_4">
					<h3>Follow us</h3>
					<ul>
						<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="service_areas">
			<h3>Service Areas: </h3>
			<ul>
				<li>Toronto<span>|</span></li>
				<li>Mississauga<span>|</span></li>
				<li>Etobicoke<span>|</span></li>
				<li>Oakville<span>|</span></li>
				<li>Burlington</li>
			</ul>
		</div>
		<div class="row">
			<div class="col-md-6">
				<p>© Oceanwidehomes 2021. All rights reserved</p>
			</div>
			<div class="col-md-6">
				<p>Design and Developed by GwebPro.</p>
			</div>
		</div>
	</div>
</footer>
<!-- end footer -->