<header class="full-width main_head navbar-fixed-top" id="header">
	<div class="container">
		<div class="head_left">
			<!-- <div class="logo_sec">
				<img src="../assets/images/logo.png" alt="logo">
			</div> -->

			<div class="top_menu navigation">
				<div class="nav-bar">     
		      <i class="fa fa-bars" id="mobnav" style="display: block;"></i>         
		    </div>

				<nav style="left: -100%;">
					<i class="fa fa-times" id="cross" style="display: none;"></i>
					<div class="mobile-logo">
	         <a href="#"><img src="../assets/images/logo.png" alt="logo"></a>
	        </div>

	        <div class="menu-header-main-menu-container">
	        	<ul id="top" class="menu">
							<li><a href="#">Home</a></li>
							<li><a href="#">About</a></li>
							<li><a href="#">Works</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
	        </div>

	        <div class="mobile-footer">
						<ul>
							<li><span>Call:</span> <a href="#">400-000-1234</a></li>
							<li><span>Mail:</span> <a href="#">info@yourmail.com</a></li>
						</ul>
					</div>
					
				</nav>
			</div>
		</div>
		
		<div class="head_right">
			<ul>
				<li><a href="#"><img src="../assets/images/icon_fb.png" alt="icon_fb"></a></li>
				<li><a href="#"><img src="../assets/images/icon_insta.png" alt="icon_insta"></a></li>
				<li><a href="#"><img src="../assets/images/icon_tiktok.png" alt="icon_tiktok"></a></li>
			</ul>
		</div>
		
	</div>
</header>