<!--start banner-->
<section class="full-width banner_main">
    <!-- <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div> -->
    <div class="mycontainer"
        style="background: url(../assets/images/newBannerImage.png) no-repeat; background-position: center; background-size: cover;">


        <div class="banner_cntnt">
            <div class="photo">
                <img src="../assets/images/photo.jpg" alt="">
            </div>
            <p>Hi there <i class="fa fa-hand-paper-o"></i>, I'm </p>
            <h2>gourab</h2>

            <div class="typing-container">
                <span id="sentence" class="sentence">I am a &nbsp;</span>
                <span id="feature-text"></span>
                <span class="input-cursor"></span>
            </div>
        </div>
        <div class="banner">
            <!-- <img src="../assets/images/banner.jpg" alt=""> -->
        </div>

    </div>
</section>
<!--end banner-->

<!--start family-->
<section class="full-width family_sec" id="scroll_02">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="img_sec"
                    style="background: url(../assets/images/banner.jpg) no-repeat; background-position: center; background-size: cover;">
                    <div class="number_box">
                        <ul>
                            <li>
                                <span class="count">4</span>
                                <p>years</p>
                            </li>

                            <li>
                                <span class="count">2</span>
                                <p>certifications</p>
                            </li>

                            <li>
                                <span class="count">20</span><span class="plus">+</span>
                                <p>projects</p>
                            </li>

                            <li>
                                <span class="count">20</span><span class="plus">+</span>
                                <p>clients</p>
                            </li>
                        </ul>

                        <div class="clear"></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="text_sec">
                    <h3>ABOUT ME</h3>
                    <h2>As Front-End Developer</h2>
                    <p>My name is Gourab Chakraborty, I’ve been working as a web developer for a few years now, and
                        I’m passionate about everything that goes into making websites and web applications work
                        well and look beautiful. </p>
                    <p>I love working with clients who want something more than just another website or web-application;
                        They want it to be memorable, engaging,
                        and valuable—and that’s where I come in! </p>
                    <p> I believe that you have to be able to see the big picture when you’re building something,
                        and that’s why I like to work with a team. It’s also why I love working in groups where
                        everyone has a voice, but we all work together towards the same goal—to make your software
                        better than you could ever do on your own.</p>

                    <div class="common_button">
                        <a href="#">Read More <img src="../assets/images/arrow_1.png" alt="arrow_1"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end family-->

<!--start services-->
<section class="full-width service_sec" style="background: url(../assets/images/service_sec.jpg) no-repeat; background-position: center;
background-size: cover;">
    <div class="container">
        <h3>Services</h3>
        <h2>What I Do</h2>
    </div>
</section>
<!--end services-->

<!--start service_list-->
<section class="full-width service_list">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="srvc_box">
                    <h2>Project Planning</h2>
                    <p>Planning projects by setting measurable objectives, indentifying deliverables, scheduling,
                        and planning tasks.
                    </p>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="srvc_box">
                    <h2>Website Building</h2>
                    <p>Create user-centered websites by understanding business requirements.</p>

                </div>
            </div>

            <div class="col-sm-3">
                <div class="srvc_box">
                    <h2>Web Application Building</h2>
                    <p>Building and launching user-friendly applications and also creating new feautures to existing
                        projects</p>

                </div>
            </div>

            <div class="col-sm-3">
                <div class="srvc_box">
                    <h2>Mobile Responsive</h2>
                    <p>Creating responsive, dynamic and cross browser compatible webpages and applicaitons.</p>

                </div>
            </div>
        </div>
    </div>
</section>
<!--end service_list-->

<!--start skills-->
<section class="full-width skill_sec" style="background: url(../assets/images/skill_sec.jpg) no-repeat; background-position: center;
background-size: cover;">
    <div class="container">
        <h3>Skills</h3>
        <h2>That I Have</h2>
        <div class="owl-carousel owl-theme">
            <div class="item"><img src="../assets/images/html.png"></div>
            <div class="item"><img src="../assets/images/css3.webp"></div>
            <div class="item"><img src="../assets/images/bootstrap.png"></div>
            <div class="item"><img src="../assets/images/js.png"></div>
            <div class="item"><img src="../assets/images/typescript.png"></div>
            <div class="item"><img src="../assets/images/angular.png"></div>
            <div class="item"><img src="../assets/images/material.png"></div>
            <div class="item"><img src="../assets/images/primeng.png"></div>
            <div class="item"><img src="../assets/images/java.png"></div>
        </div>
    </div>
</section>
<!--end skills-->

<!--start latest_project-->
<section class="full-width latest_project">
    <div class="container">
        <div class="project_head">
            <h3>Latest Projects</h3>
            <h2>Make it with passion.</h2>
        </div>

        <div class="zigzag_1">
            <article>
                <div class="pro_img" style="background: url(../assets/images/yujj.png) no-repeat; background-position: center;
                background-size: cover;min-height: 450px;background-attachment: fixed;">
                    <!-- <img src="../assets/images/yujj.png" alt="zigzag_1"> -->

                    <div class="pro_text">
                        <h3>2023 <span>|</span> The smart business card</h3>
                        <h2>Yujj</h2>
                        <p>Yujj is a comprehensive digital business card platform designed to help businesses
                            and individuals innovate and grow. </p>

                        <div class="common_button">
                            <a href="#">Read More <img src="../assets/images/arrow_1.png" alt="arrow_1"></a>
                        </div>
                    </div>
                </div>
            </article>

            <article>
                <div class="pro_img" style="background: url(../assets/images/quintrx.png) no-repeat; background-position: center;
                background-size: cover;min-height: 450px;background-attachment: fixed;">
                    <!-- <img src="../assets/images/quintrx.png" alt="zigzag_2"> -->

                    <div class="pro_text">
                        <h3>2022 <span>|</span> Professional employment services</h3>
                        <h2>Quintrx</h2>
                        <p>Providing clients with a professional, personal and confidential service to help them
                            reduce the risk of employing the wrong person.Screening is always carried out and
                            completed to our clients' exact specifications.</p>

                        <div class="common_button">
                            <a href="#">Read More <img src="../assets/images/arrow_1.png" alt="arrow_1"></a>
                        </div>
                    </div>
                </div>
            </article>

            <article>
                <div class="pro_img" style="background: url(../assets/images/gforce.png) no-repeat; background-position: center;
                background-size: cover;min-height: 450px;background-attachment: fixed;">
                    <!-- <img src="../assets/images/gforce.png" alt="zigzag_3"> -->

                    <div class="pro_text">
                        <h3>2021 <span>|</span> A fitness platform</h3>
                        <h2>GFORCE</h2>
                        <p>Help people establish the fitness, dietary and attitude habits necessary to stay
                            motivated towards their goal of a new person.</p>

                        <div class="common_button">
                            <a href="#">Read More <img src="../assets/images/arrow_1.png" alt="arrow_1"></a>
                        </div>
                    </div>
                </div>
            </article>

            <article>
                <div class="pro_img" style="background: url(../assets/images/oceanwide.png) no-repeat; background-position: center;
                background-size: cover;min-height: 450px;background-attachment: fixed;">
                    <!-- <img src="../assets/images/oceanwide.png" alt="zigzag_4"> -->

                    <div class="pro_text">
                        <h3>2021 <span>|</span> Custom Home Developer</h3>
                        <h2>Oceanwide Homes</h2>
                        <p>Ocean Wide Development is trusted Toronto custom home developer.
                            An innovative, complete build/design and construction company based in
                            Toronto and are willing to take projects across the GTA.</p>

                        <div class="common_button">
                            <a href="#">Read More <img src="../assets/images/arrow_1.png" alt="arrow_1"></a>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>
<!--end latest_project-->

<!-- Location start -->

<section class="full-width cntct">

        <div class="myrow">
            <div class="mycol-md-6">
                <div class="pro_text">
                    <h3>Contact Me</h3>
                    <h2>I'm always eager to hear from you!</h2>
                    <div class="cntctpgmap">
                        <ul>
                            <li><span><i class="fa fa-linkedin-square"></i>Linkedin&nbsp;:&nbsp;</span><a href="https://www.linkedin.com/in/gourab-chakraborty-044404115/">https://www.linkedin.com/in/gourab-chakraborty-044404115/</a></li>
                            <li><span><i class="fa fa-envelope-o"></i>Email&nbsp;:&nbsp;</span><a href="#">gourab2308@gmail.com</a></li>
                            <li><span class="cntctpgph"><i class="fa fa-phone"></i>Mobile&nbsp;:&nbsp;</span>+91 629 010 8200</li>
                        </ul>
                    </div>
        
                    <div class="common_button">
                        <a href="#">Read More <img src="../assets/images/arrow_1.png" alt="arrow_1"></a>
                    </div>
                </div>
            </div>
            <div class="mycol-md-6">
                <div class="pro_form">
                    <form [formGroup]="contactForm">
                        <div class="form_grp">
                            <input type="text" name="name" placeholder="First Name" formControlName="firstname">
                            <input type="text" name="name" placeholder="Last Name" formControlName="lastname">
                        </div>
                        <div class="form_grp">
                            <input type="email" name="name" placeholder="E-Mail" formControlName="email">
                            <input type="tel" name="name" placeholder="Phone" formControlName="phoneNumber">
                        </div>
                        <textarea placeholder="Message" formControlName="msg"></textarea>
                        <div class="form_grp_submit">
                            <button (click)="submit()">Submit <img src="../assets/images/arrow_2.png" alt="arrow_1"></button>
                            <!-- <input type="submit" name="submit" value="Submit" > -->
                        </div>
                    </form>
                </div>
                
            </div>
        </div>

</section>
<!-- Location End -->